*.gpkg
*.nc
*.pdf
*.png
*.pptx
*.pyc
*.tar.gz
*.tmp
*.zip
*/__pycache__

.DS_Store
.smbdelete*
.vscode

data/*.csv
eddypro-metadata_be-lon.md
figures/*.db
figures/*.tex

manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/diff*
manuscript/reviewer_comments*
manuscript/save*
manuscript/manuscript.fdb*
manuscript/*.fls

mdtable.md
