.DS_Store
.vscode
*.pdf
*.gpkg
figures/*.tex
data/*.csv
mdtable.md
eddypro-metadata_be-lon.md
*.pyc
*/__pycache__
*.tmp
*.png
figures/*.db
.smbdelete*
*.pptx
*.nc
manuscript/reviewer_comments*

manuscript/*.log
manuscript/*.aux
manuscript/*.out
manuscript/*.bbl
manuscript/*.blg
